@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
 

    body {
        font-family: 'Montserrat', sans-serif;
    }
  
.container {
    /* background-color:aliceblue; */
    opacity: .9;
}

/* @media only screen and (max-width: 992px){
    .container{
        width: 100%
    }
} */
.navbar {
    background-color: antiquewhite;
    opacity: .8;
    
}

.logo span{
    font-weight: 600
}
/*****************************HEADER STYLES*****************************/
header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
	margin: 80px 0 25px;
	color: #2c3e50;
}
header h1 span {
	font-weight: 700;
}
header h2 {
	color: #3c4f5c;
	font-weight:300;
}
/*****************************FORM STYLES*****************************/

.form {
	width: auto;
	margin: 50px auto 20px;
}

#listInput {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	font: 300 28px 'Ubuntu', sans-serif;
	padding: 20px;
	color: #34495e;
}

@media only screen and (max-width: 992px){
    #listInput {
        width: 95%
    }
}
/*****************************LIST STYLES*****************************/
.list {
	width: 800px;
	margin: 0 auto;
}
.task {
	width: auto;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	padding: 0 20px;
	color: #34495e;
	transition: all .3s ease;
}


.task:hover {
    widows: auto;
	background: #00000017;
	 /* font-size: 25px; */
	cursor: pointer;
}

@media only screen and (max-width: 992px){
    .task{
        width: 100%
    }
}

.task:hover span{
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}

li span {
  float: right;
  color: #500404;
  opacity: 0;
}

li span:hover {
  color: #d20a1b;
    font-size: 30px;
    /* transition-delay: 5ms; */
}

footer{
    color: #f9f7f4d9;
    font-size: 20px;
    text-align: center
}

footer span {
font-size: 10px
}